:root.theme-dark {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --title-font-color: #db00ff;
  --font-color: #f1b2ce;
  --header-font-color: var(--accent-color);
  --subheader-font-color: var(--bg-color);
  --decor-color: var(--accent-color);
  --decor-color-transparent: rgba(255, 0, 112, 0.4);

  .header__decor-text {
    display: block;
  }
}
