:root.theme-dark {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --menu-font-color: #ff0070;
  --menu-font-color-transparent: rgba(255, 0, 112, 0.5);
  --title-font-color: #db00ff;
  --header-font-color: #ff0070;
  --subheader-font-color: #000028;
  --font-color: #f1b2ce;

  .header__decor-text {
    display: block;
  }
}
