:root {
  --global-padding: 10px;
  --font-family: 'IBM Plex mono', sans-serif;
  --section-bottom-margin: 50px;
  --side-section-bottom-margin: 40px;
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --menu-top-margin: calc(72px - var(--global-padding));
  --decor-color: var(--accent-color);
  --decor-color-transparent: rgba(255, 0, 112, 0.4);
  --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --title-font-weight: bold;
  --title-font-color: #db00ff;
  --header-font-color: var(--accent-color);
  --subheader-font-color: var(--bg-color);
  --subheader-font-weight: bold;
  --font-size: 18px;
  --font-color: #f1b2ce;
  --text-line-height: 130%;
}

@media (width >=768px) {
  :root {
    --global-padding: 20px;
    --side-section-bottom-margin: 60px;
    --section-bottom-margin: 80px;
    --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
